body {
    background-color: #000000;
}
h1 {
    text-transform: uppercase;
    font-size: 3rem;
}
.poster {
    font-family:"Libre Baskerville", serif;
    text-align: center;
    color: #ffffff;
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
}
.motivation-img {
    border: 5px solid white;
    width: 100%;
}